{% extends "../layout.html" %}
{% block content %}
<main role="main">
    <div class="container-divider"></div>
    <div class="container">
        <nav class="sub-nav">
            <ol class="breadcrumbs">
                <li title="CopyBet Ltd">
                    <a href="">CopyBet Ltd</a>
                </li>
                <li title="Getting Started">
                    <a href="">Getting Started</a>
                </li>
            </ol>
            <form role="search" class="search" data-search="" action="/hc/en-us/search?preview%5Btheme_id%5D=360000113613&amp;preview_as_role=end_user&amp;use_theme_settings=false" accept-charset="UTF-8" method="get">
                <input name="utf8" type="hidden" value="✓">
                <input type="hidden" name="preview[theme_id]" id="preview_theme_id" value="360000113613">
                <input type="hidden" name="preview_as_role" id="preview_as_role" value="end_user">
                <input type="hidden" name="category" id="category" value="115000396645">
                <input type="search" name="query" id="query" placeholder="Search" aria-label="Search">
            </form>
        </nav>
        <div class="article-container" id="article-container">
            <section class="article-sidebar">
                <section class="section-articles collapsible-sidebar">
                    <h3 class="collapsible-sidebar-title sidenav-title">Articles in this section</h3>
                    <ul>
                        <li>
                            <a href="" class="sidenav-item ">Why couldn’t I register via a social network?</a>
                        </li>
                        <li>
                            <a href="" class="sidenav-item ">How do I connect Betfair account (or any other bookmaker)?</a>
                        </li>
                        <li>
                            <a href="" class="sidenav-item ">How do I register?</a>
                        </li>
                        <li>
                            <a href="" class="sidenav-item current-article">What is CopyBet?</a>
                        </li>
                    </ul>
                </section>
            </section>
            <article class="article">
                <header class="article-header">
                    <h1 title="What is CopyBet?" class="article-title">
                        What is CopyBet?
                    </h1>
                    <div class="article-author">
                        <div class="avatar article-avatar">
                            <span class="icon-agent"></span>
                            <img src="https://secure.gravatar.com/avatar/c235dd40cc081d7bb9a5248a115ec2fb?default=https%3A%2F%2Fassets.zendesk.com%2Fhc%2Fassets%2Fdefault_avatar.png&amp;r=g" alt="Avatar" class="user-avatar">
                        </div>
                        <div class="article-meta">
                            <a href="">
                                Agent #1
                            </a>
                            <ul class="meta-group">
                                <li class="meta-data">
                                    <time datetime="2017-08-12T11:59:08Z" title="2017-08-12 13:59" data-datetime="relative">6 months ago</time>
                                </li>
                                <li class="meta-data">Updated</li>
                            </ul>
                        </div>
                    </div>
                    <a class="article-subscribe" rel="nofollow" role="button" aria-selected="false" data-method="post" href="">Follow</a>
                </header>
                <section class="article-info">
                    <div class="article-content">
                        <div class="article-body">
                            <p>
                                <span>CopyBet is a web platform, which allows you to copy other users’ bets automatically.</span>
                            </p>
                        </div>
                        <div class="article-attachments">
                            <ul class="attachments"></ul>
                        </div>
                    </div>
                </section>
                <footer>
                    <div class="article-footer">
                        <div class="article-share">
                            <ul class="share">
                                <li>
                                    <a href="" class="share-facebook">Facebook</a>
                                </li>
                                <li>
                                    <a href="" class="share-twitter">Twitter</a>
                                </li>
                                <li>
                                    <a href="" class="share-linkedin">LinkedIn</a>
                                </li>
                                <li>
                                    <a href="" class="share-googleplus">Google+</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="article-votes">
                        <span class="article-votes-question">Was this article helpful?</span>
                        <div class="article-votes-controls" role="radiogroup">
                            <a role="radio" rel="nofollow" class="button article-vote article-vote-up" title="Yes" aria-selected="false" href=""></a>
                            <a role="radio" rel="nofollow" class="button article-vote article-vote-down" title="No" aria-selected="false" href=""></a>
                        </div>
                        <small class="article-votes-count">
                            <span class="article-vote-label">0 out of 0 found this helpful</span>
                        </small>
                    </div>
                    <div class="article-more-questions">
                        Have more questions?
                        <a href="">Submit a request</a>
                    </div>
                    <div class="article-return-to-top">
                        <a href="">Return to top
                            <span class="icon-arrow-up"></span>
                        </a>
                    </div>
                </footer>
                <section class="article-relatives">
                    <section class="related-articles">
                        <h3>Related articles</h3>
                        <ul>
                            <li>
                                <a href="">Why couldn’t I register via a social network?</a>
                            </li>
                            <li>
                                <a href="">How do I register?</a>
                            </li>
                        </ul>
                    </section>
                </section>
                <div class="article-comments" id="article-comments">
                    <section class="comments">
                        <header class="comment-overview">
                            <h3 class="comment-heading">
                                Comments
                            </h3>
                            <p class="comment-callout">0 comments</p>
                        </header>
                        <ul id="comments" class="comment-list"></ul>
                        <p class="comment-callout">Article is closed for comments.</p>
                    </section>
                </div>
            </article>
        </div>
    </div>
</main>
{% endblock %}
