{% extends "../layout.html" %}
{% block content %}
<main role="main">
    <div class="container-divider"></div>
    <div class="container">
        <nav class="sub-nav">
            <ol class="breadcrumbs">
                <li title="CopyBet Ltd">
                    <a href="">CopyBet Ltd</a>
                </li>
                <li title="Help">
                    Help
                </li>
            </ol>
            <form role="search" class="search" data-search="" action="/hc/en-us/search?preview%5Btheme_id%5D=360000113613&amp;preview_as_role=end_user&amp;use_theme_settings=false" accept-charset="UTF-8" method="get">
                <input name="utf8" type="hidden" value="✓">
                <input type="hidden" name="preview[theme_id]" id="preview_theme_id" value="360000113613">
                <input type="hidden" name="preview_as_role" id="preview_as_role" value="end_user">
                <input type="search" name="query" id="query" placeholder="Search" aria-label="Search">
            </form>
        </nav>
        <div class="category-container">
            <div class="category-content">
                <header class="page-header">
                    <h1>Help</h1>
                </header>
                <div class="section-tree">
                    <section class="section">
                        <h3 class="section-tree-title">
                            <a href="">Getting Started</a>
                        </h3>
                        <ul class="article-list">
                            <li class="article-list-item">
                                <a href="" class="article-list-link">Why couldn’t I register via a social network?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="" class="article-list-link">How do I connect Betfair account (or any other bookmaker)?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="" class="article-list-link">How do I register?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="" class="article-list-link">What is CopyBet?</a>
                            </li>
                        </ul>
                    </section>
                    <section class="section">
                        <h3 class="section-tree-title">
                            <a href="">CopyBet Platform</a>
                        </h3>
                        <ul class="article-list">
                            <li class="article-list-item">
                                <a href="" class="article-list-link">Why aren’t bets copied to my account at the bookmaker, although I have enough funds on it?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="" class="article-list-link">I want to copy bets from several providers. Do I have to open several accounts for that?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="" class="article-list-link">Why can I view only last 5 of my bets? How can I view the rest of them?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="" class="article-list-link">What is the period of the bet copying? How fast are bets copied?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="" class="article-list-link">Is it allowed to place my own bets if I’m subscribed to one of the providers right now?</a>
                            </li>
                        </ul>
                    </section>
                    <section class="section">
                        <h3 class="section-tree-title">
                            <a href="">Wallet</a>
                        </h3>
                        <ul class="article-list">
                            <li class="article-list-item">
                                <a href="" class="article-list-link">Are there any restrictions on depositing/withdrawing funds to/from my internal CopyBet wallet?</a>
                            </li>
                            <li class="article-list-item">
                                <a href="" class="article-list-link">How fast am I allowed to withdraw funds from my internal CopyBet wallet?</a>
                            </li>
                        </ul>
                    </section>
                    <section class="section">
                        <h3 class="section-tree-title">
                            <a href="">Affiliate Program</a>
                        </h3>
                        <ul class="article-list">
                            <li class="article-list-item">
                                <a href="" class="article-list-link">"Will the BetFair client I attracted included into my affiliate group? Or other bookmakers’ affiliate links aren’t accepted here?"</a>
                            </li>
                            <li class="article-list-item">
                                <a href="" class="article-list-link">How do I become your partner?</a>
                            </li>
                        </ul>
                    </section>
                    <section class="section">
                        <h3 class="section-tree-title">
                            <a href="">Miscellanea</a>
                        </h3>
                        <ul class="article-list">
                            <li class="article-list-item">
                                <a href="" class="article-list-link">How do I receive Welcome bonus? What do I have to do for this?</a>
                            </li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
