{% extends "../layout.html" %}{% block content %}
<main role="main">
    <section class="hero">
        <div class="hero-inner">
            <h1 class="hero-title">FAQ</h1>
            <form role="search" class="search search-full" data-search="" data-instant="true" autocomplete="off" action="" accept-charset="UTF-8" method="get">
                <input name="utf8" type="hidden" value="✓">
                <input type="hidden" name="preview[theme_id]" id="preview_theme_id" value="360000125294">
                <input type="hidden" name="preview_as_role" id="preview_as_role" value="end_user">
                <input type="search" name="query" id="query" placeholder="Type your question here" autocomplete="off" aria-label="Type your question here">
                <input type="submit" name="commit" value="Search">
            </form>
        </div>
    </section>
    <section class="categories blocks">
        <div class="container">
            <ul class="blocks-list">
                <li class="blocks-item ">
                    <a href="" class="blocks-item-link">
                        <h4 class="blocks-item-title">
                            Getting Started
                        </h4>
                        <p class="blocks-item-description"></p>
                    </a>
                </li>
                <li class="blocks-item ">
                    <a href="" class="blocks-item-link">
                        <h4 class="blocks-item-title">
                            CopyBet Platform
                        </h4>
                        <p class="blocks-item-description"></p>
                    </a>
                </li>
                <li class="blocks-item ">
                    <a href="" class="blocks-item-link">
                        <h4 class="blocks-item-title">
                            Wallet
                        </h4>
                        <p class="blocks-item-description"></p>
                    </a>
                </li>
                <li class="blocks-item ">
                    <a href="" class="blocks-item-link">
                        <h4 class="blocks-item-title">
                            Affiliate Program
                        </h4>
                        <p class="blocks-item-description"></p>
                    </a>
                </li>
                <li class="blocks-item ">
                    <a href="" class="blocks-item-link">
                        <h4 class="blocks-item-title">
                            Miscellanea
                        </h4>
                        <p class="blocks-item-description"></p>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <div class="container">
        <section class="section activity">
            <div data-app="recent-activity" data-url="">
                <div class="recent-activity">
                    <h2 class="recent-activity-header">Recent activity</h2>
                    <ul class="recent-activity-list" style="">
                        <li class="recent-activity-item" data-recent-activity-action="article_created">
                            <a class="recent-activity-item-parent" href="">Affiliate Program</a>
                            <a class="recent-activity-item-link" href="">Will the BetFair client I attracted included into my affiliate group? Or other bookmakers’ affiliate links aren’t accepted here?</a>
                            <div class="recent-activity-item-meta">
                                <div class="recent-activity-item-time">Article created 4 days ago</div>
                                <div class="recent-activity-item-comment">
                                    <span>0</span>
                                </div>
                            </div>
                        </li>
                        <li class="recent-activity-item" data-recent-activity-action="article_created">
                            <a class="recent-activity-item-parent" href="">Affiliate Program</a>
                            <a class="recent-activity-item-link" href="">How do I become your partner?</a>
                            <div class="recent-activity-item-meta">
                                <div class="recent-activity-item-time">Article created 4 days ago</div>
                                <div class="recent-activity-item-comment">
                                    <span>0</span>
                                </div>
                            </div>
                        </li>
                        <li class="recent-activity-item" data-recent-activity-action="article_created">
                            <a class="recent-activity-item-parent" href="">Wallet</a>
                            <a class="recent-activity-item-link" href="">How fast am I allowed to withdraw funds from my internal CopyBet wallet?</a>
                            <div class="recent-activity-item-meta">
                                <div class="recent-activity-item-time">Article created 4 days ago</div>
                                <div class="recent-activity-item-comment">
                                    <span>0</span>
                                </div>
                            </div>
                        </li>
                        <li class="recent-activity-item" data-recent-activity-action="article_created">
                            <a class="recent-activity-item-parent" href="">CopyBet Platform</a>
                            <a class="recent-activity-item-link" href="">I want to copy bets from several providers. Do I have to open several accounts for that?</a>
                            <div class="recent-activity-item-meta">
                                <div class="recent-activity-item-time">Article created 4 days ago</div>
                                <div class="recent-activity-item-comment">
                                    <span>0</span>
                                </div>
                            </div>
                        </li>
                        <li class="recent-activity-item" data-recent-activity-action="article_created">
                            <a class="recent-activity-item-parent" href="">CopyBet Platform</a>
                            <a class="recent-activity-item-link" href="">What is the period of the bet copying? How fast are bets copied?</a>
                            <div class="recent-activity-item-meta">
                                <div class="recent-activity-item-time">Article created 4 days ago</div>
                                <div class="recent-activity-item-comment">
                                    <span>0</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="recent-activity-no-activities" style="display: none;"></div>
                    <div class="recent-activity-loader" style="display: none;">...</div>
                    <div class="recent-activity-controls" style="">
                        <a href="#" data-recent-activity-seemore="">See more</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>{% endblock %}
