{% extends "../layout.html" %}
{% block content %}
<main role="main">
    <section class="section hero">
        <div class="hero-inner">
            <form role="search" class="search search-full" data-search="" data-instant="true" autocomplete="off" action="/hc/en-us/search?preview%5Btheme_id%5D=360000113613&amp;preview_as_role=end_user&amp;use_theme_settings=false" accept-charset="UTF-8" method="get">
                <input name="utf8" type="hidden" value="✓">
                <input type="hidden" name="preview[theme_id]" id="preview_theme_id" value="360000113613">
                <input type="hidden" name="preview_as_role" id="preview_as_role" value="end_user">
                <input type="search" name="query" id="query" placeholder="Search" autocomplete="off" aria-label="Search">
            </form>
        </div>
    </section>
    <div class="container">
        <section class="section knowledge-base">
            <section class="categories blocks">
                <ul class="blocks-list">
                    <li class="blocks-item ">
                        <a href="" class="blocks-item-link">
                            <h4 class="blocks-item-title">
                                Getting Started
                            </h4>
                            <p class="blocks-item-description"></p>
                        </a>
                    </li>
                    <li class="blocks-item ">
                        <a href="" class="blocks-item-link">
                            <h4 class="blocks-item-title">
                                CopyBet Platform
                            </h4>
                            <p class="blocks-item-description"></p>
                        </a>
                    </li>
                    <li class="blocks-item ">
                        <a href="" class="blocks-item-link">
                            <h4 class="blocks-item-title">
                                Wallet
                            </h4>
                            <p class="blocks-item-description"></p>
                        </a>
                    </li>
                    <li class="blocks-item ">
                        <a href="" class="blocks-item-link">
                            <h4 class="blocks-item-title">
                                Affiliate Program
                            </h4>
                            <p class="blocks-item-description"></p>
                        </a>
                    </li>
                    <li class="blocks-item ">
                        <a href="" class="blocks-item-link">
                            <h4 class="blocks-item-title">
                                Miscellanea
                            </h4>
                            <p class="blocks-item-description"></p>
                        </a>
                    </li>
                </ul>
            </section>
        </section>
    </div>
</main>
{% endblock %}
