.attachments .attachment-item {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
}

.attachments .attachment-item:last-child {
    margin-bottom: 0;
}

.attachments .attachment-item::before {
    font-size: 15px;
    position: absolute;
    top: 5px;
    left: 0;
    content: '\1F4CE';
    color: var(--color_3);
}

[dir='rtl'] .attachments .attachment-item {
    padding-right: 20px;
    padding-left: 0;
}

[dir='rtl'] .attachments .attachment-item::before {
    right: 0;
    left: auto;
}

.upload-dropzone span {
    color: var(--color_3), 20%;
}
