.blocks {
    background: #223145;
}

.blocks-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .blocks-list {
        margin: 0 -20px;
    }
}

@media (max-width: 480px) {
    .blocks-item {
        flex-grow: 1;
        flex-basis: 260px;
    }
}

.blocks-item-internal .icon-lock::before {
    content: "\1F512";
    font-size: 15px;
    bottom: 5px;
    position: relative;
}

.blocks-item-link {
    display: block;
    padding: 0 20px;
}

.blocks-item-link:hover, .blocks-item-link:focus, .blocks-item-link:active {
    text-decoration: none;
}

.blocks-item-title {
    margin: 0;
    padding: 20px 0 18px;
    font-size: 18px;
    font-family: var(--font_2);
    color: #7d90a9;
    border-bottom: 2px solid transparent;
}

.blocks-item-description {
    margin: 0;
    font-weight: 300;
    color: #7d90a9;
}

.blocks-item-description:not(:empty) {
    margin-top: 10px;
}

.blocks-item:first-child .blocks-item-title,
.blocks-item:hover .blocks-item-title,
.blocks-item:focus .blocks-item-title,
.blocks-item:active .blocks-item-title {
    color: #fff;
    border-bottom-color: var(--color_2);
}

.blocks-item:hover *, .blocks-item:focus *, .blocks-item:active * {
    color: var(--color_2);
    text-decoration: none;
}