.breadcrumbs {
    margin: 0 0 15px 0;
    padding: 0;
}

@media (min-width: 768px) {
    .breadcrumbs {
        margin: 0;
    }
}

.breadcrumbs li {
    font-size: 13px;
    font-weight: 300;
    display: inline;
    overflow: hidden;
    max-width: 450px;
    text-overflow: ellipsis;
    color: var(--color_4);
}

.breadcrumbs li + li::before {
    margin: 0 4px;
    content: '>';
}

.breadcrumbs li a:visited {
    color: var(--color_4);
}
