.collapsible-sidebar {
    position: relative;
    overflow: hidden;
    flex: 1;
    max-height: 45px;
    padding: 10px 0;
}

@media (min-width: 1024px) {
    .collapsible-sidebar {
        max-height: none;
        padding: 0;
    }
}

.collapsible-sidebar[aria-expanded='true'] {
    max-height: none;
}

.collapsible-sidebar[aria-expanded='true'] .collapsible-sidebar-title::after {
    content: '\2715';
}

@media (min-width: 1024px) {
    .collapsible-sidebar[aria-expanded='true'] .collapsible-sidebar-title::after {
        display: none;
    }
}

.collapsible-sidebar-title {
    margin-top: 0;
}

.collapsible-sidebar-title::after {
    position: relative;
    position: absolute;
    top: 50%;
    right: 10px;
    content: '\25BE';
    transform: translateY(-50%);
}

@media (min-width: 1024px) {
    .collapsible-sidebar-title::after {
        display: none;
    }
}

[dir='rtl'] .collapsible-sidebar-title::after {
    right: auto;
    left: 10px;
}
