.collapsible-nav {
    font-size: 14px;
    overflow: hidden;
    flex-direction: column;
    max-height: 45px;
    border-top: 1px solid var(--color_5);
    border-bottom: 1px solid var(--color_5);
}

@media (min-width: 768px) {
    .collapsible-nav {
        flex-direction: row;
        height: auto;
        max-height: none;
        border: 0;
    }
}

.collapsible-nav-list {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .collapsible-nav-list {
        flex-direction: row;
    }
}

.collapsible-nav-list li {
    line-height: 45px;
    order: 1;
    color: var(--color_3);
}

@media (min-width: 768px) {
    .collapsible-nav-list li {
        line-height: normal;
        margin-right: 30px;
    }

    [dir='rtl'] .collapsible-nav-list li {
        margin-right: 0;
        margin-left: 30px;
    }

    .collapsible-nav-list li a {
        padding: 15px 0;
        text-decoration: none;
    }
}

.collapsible-nav-list li a {
    display: block;
    color: var(--color_3);
}

@media (min-width: 768px) {
    .collapsible-nav-list li:hover {
        border-bottom: 4px solid var(--color_5);
    }

    .collapsible-nav-list li:hover a {
        padding: 15px 0 11px 0;
        text-decoration: none;
    }
}

.collapsible-nav-list li[aria-selected='true'] {
    position: relative;
    order: 0;
}

@media (min-width: 768px) {
    .collapsible-nav-list li[aria-selected='true'] {
        order: 1;
        padding: 15px 0 11px 0;
        border-bottom: 4px solid var(--color_1);
    }
}

.collapsible-nav-list li[aria-selected='true'] a {
    color: var(--color_3);
}

.collapsible-nav-list li[aria-selected='true']::after {
    position: relative;
    position: absolute;
    top: 50%;
    right: 0;
    content: '\25BE';
    transform: translateY(-50%);
}

@media (min-width: 768px) {
    .collapsible-nav-list li[aria-selected='true']::after {
        display: none;
    }
}

[dir='rtl'] .collapsible-nav-list li[aria-selected='true']::after {
    right: auto;
    left: 0;
}

.collapsible-nav[aria-expanded='true'] {
    max-height: none;
}

.collapsible-nav[aria-expanded='true'] li[aria-selected='true']::after {
    content: '\2715';
}
