.comment {
    padding: 20px 0;
    border-bottom: 1px solid var(--color_5);
}

.comment-heading {
    margin-top: 0;
    margin-bottom: 5px;
}

.comment-overview {
    padding: 20px 0;
    border-top: 1px solid var(--color_5);
    border-bottom: 1px solid var(--color_5);
}

.comment-overview p {
    margin-top: 0;
}

.comment-callout {
    font-size: 13px;
    font-weight: 300;
    display: inline-block;
    margin-bottom: 0;
    color: var(--color_3), 20%;
}

.comment-callout a {
    color: var(--color_1);
}

.comment-sorter {
    display: inline-block;
    float: right;
}

.comment-sorter a {
    font-size: 13px;
    font-weight: 300;
    text-decoration: none;
    color: var(--color_3), 20%;
}

[dir='rtl'] .comment-sorter {
    float: left;
}

.comment-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.comment-wrapper.comment-official {
    padding: 40px 20px 20px;
    border: 1px solid var(--color_1);
}

@media (min-width: 768px) {
    .comment-wrapper.comment-official {
        padding-top: 20px;
    }
}

.comment-info {
    width: 100%;
    min-width: 0;
    padding-right: 20px;
}

[dir='rtl'] .comment-info {
    padding-right: 0;
    padding-left: 20px;
}

.comment-author {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .comment-author {
        justify-content: space-between;
    }
}

.comment-avatar {
    margin-right: 10px;
}

[dir='rtl'] .comment-avatar {
    margin-right: 0;
    margin-left: 10px;
}

.comment-meta {
    flex: 1 0 auto;
}

.comment-labels {
    flex-basis: 100%;
}

@media (min-width: 768px) {
    .comment-labels {
        flex-basis: auto;
    }
}

.comment .status-label:not(.status-label-official) {
    margin-top: 10px;
}

@media (min-width: 768px) {
    .comment .status-label:not(.status-label-official) {
        margin-top: 0;
    }
}

.comment-form {
    display: flex;
    padding-top: 30px;
    word-wrap: break-word;
}

.comment-container {
    width: 100%;
}

.comment-form-controls {
    display: none;
    margin-top: 10px;
    text-align: left;
}

@media (min-width: 768px) {
    [dir='ltr'] .comment-form-controls {
        text-align: right;
    }
}

.comment-form-controls input[type='submit'] {
    margin-top: 15px;
}

@media (min-width: 1024px) {
    .comment-form-controls input[type='submit'] {
        margin-left: 15px;
    }

    [dir='rtl'] .comment-form-controls input[type='submit'] {
        margin-right: 15px;
        margin-left: 0;
    }
}

.comment-form-controls input[type='checkbox'] {
    margin-right: 5px;
}

.comment-form-controls input[type='checkbox'] [dir='rtl'] {
    margin-left: 5px;
}

.comment-ccs {
    display: none;
}

.comment-ccs + textarea {
    margin-top: 10px;
}

.comment-attachments {
    margin-top: 10px;
}

.comment-attachments a {
    color: var(--color_1);
}

.comment-body {
    font-family: var(--font_2);
    line-height: 1.6;
    word-break: break-word;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
}

.comment-body img {
    max-width: 100%;
    height: auto;
}

.comment-body ul,
.comment-body ol {
    margin: 20px 0 20px 20px;
    padding-left: 20px;
    list-style-position: outside;
}

[dir='rtl'] .comment-body ul,
[dir='rtl'] .comment-body ol {
    margin-right: 20px;
    margin-left: 0;
    padding-right: 20px;
    padding-left: 0;
}

.comment-body ul > ul,
.comment-body ol > ol,
.comment-body ol > ul,
.comment-body ul > ol {
    margin: 0;
}

.comment-body ul {
    list-style-type: disc;
}

.comment-body a:visited {
    color: var(--color_4), 20%;
}

.comment-body code {
    margin: 0 2px;
    padding: 0 5px;
    border: 1px solid var(--color_5);
    border-radius: 3px;
    background: var(--color_5), 3%;
}

.comment-body pre {
    overflow: auto;
    padding: 10px 15px;
    white-space: pre;
    border: 1px solid var(--color_5);
    border-radius: 3px;
    background: var(--color_5), 3%;
}

.comment-body blockquote {
    font-style: italic;
    padding: 0 15px;
    color: var(--color_3), 20%;
    border-left: 1px solid var(--color_5);
}

.comment-mark-as-solved {
    display: inline-block;
}
