.community-hero {
    margin-bottom: 10px;
    background-image: url($community_background_image);
}

.community-footer {
    padding-top: 50px;
    text-align: center;
}

.community-featured-posts,
.community-activity {
    width: 100%;
    padding-top: 40px;
}

.community-header {
    margin-bottom: 30px;
}

.community-header h4 {
    margin-bottom: 0;
}

.post-to-community {
    margin-top: 10px;
}

@media (min-width: 768px) {
    .post-to-community {
        margin: 0;
    }
}

/* Community topics grid */
.topics {
    width: 100%;
    max-width: none;
}

.topics-item .meta-group {
    justify-content: center;
    margin-top: 20px;
}

/* Community topic page */
.topic-header {
    font-size: 13px;
    border-bottom: 1px solid var(--color_5);
}

@media (min-width: 768px) {
    .topic-header {
        padding-bottom: 10px;
    }
}

.topic-header .dropdown {
    display: block;
    padding: 10px 0;
    border-top: 1px solid var(--color_5);
}

@media (min-width: 768px) {
    .topic-header .dropdown {
        display: inline-block;
        margin-right: 20px;
        padding: 0;
        border-top: 0;
    }
}

.no-posts-with-filter {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Topic, post and user follow button */
.community-follow {
    width: 100%;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .community-follow {
        width: auto;
        margin-bottom: 0;
    }
}

.community-follow .dropdown {
    width: 100%;
}

.community-follow [role='button'] {
    line-height: 30px;
    position: relative;
    width: 100%;
    padding: 0 10px 0 15px;
}

@media (min-width: 768px) {
    .community-follow [role='button'] {
        width: auto;
    }
}

.community-follow [role='button']:hover {
    background-color: var(--color_1);
}

.community-follow [role='button']:hover::after,
.community-follow [role='button']:focus::after {
    color: var(--color_2);
    border-color: var(--color_2);
}

.community-follow [role='button'][aria-selected='true'] {
    color: var(--color_2);
    background-color: var(--color_1);
}

.community-follow [role='button'][aria-selected='true']::after {
    color: var(--color_2);
    border-left: 1px solid var(--color_2);
}

.community-follow [role='button'][aria-selected='true']:hover {
    border-color: var(--color_1), 20%;
    background-color: var(--color_1), 20%;
}

.community-follow [role='button']::after {
    font-family: var(--font_1);
    position: absolute;
    right: 10px;
    display: inline-block;
    margin-left: 15px;
    padding-left: 10px;
    content: attr(data-follower-count);
    color: var(--color_1);
    border-left: 1px solid var(--color_1);
}

@media (min-width: 768px) {
    .community-follow [role='button']::after {
        position: static;
    }
}

[dir='rtl'] .community-follow [role='button']::after {
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    border-right: 1px solid var(--color_1);
    border-left: 0;
}
