.contributions-table td:last-child {
    color: var(--color_3), 20%;
    font-size: 13px;
    font-weight: 300;
}

@media (min-width: 768px) {
    .contributions-table td:last-child {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
}

.no-activities {
    color: var(--color_3), 20%;
}