.top {
    background: #223145;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 1160px;
    height: 80px;
    margin: 0 auto;
    padding: 0 5%;
}

@media (min-width: 1160px) {
    .header {
        width: 90%;
        padding: 0;
    }
}

.logo {
    font-size: 0;
}
@media (max-width: 768px) {
    .logo {
        flex-grow: 1;
    }
}
.logo a {
    display: inline-block;
}

.logo img {
    width: 80px;
    height: 44px;
}

.user-nav {
    font-size: 0;
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    max-width: 100%;
    padding: 0 15px;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .user-nav {
        position: relative;
    }
}

.user-nav[aria-expanded='true'] {
    z-index: 1;
    top: 71px;
    right: 0;
    left: 0;
    display: block;
    padding: 15px 0;
    border: none;
    border-radius: 1px;
    background: #223145;
    box-shadow: rgba(0, 0, 0, .117647) 0 1px 4px, rgba(0, 0, 0, .117647) 0 1px 2px;
    white-space: normal;
}

.user-nav[aria-expanded='true'] > a {
    display: block;
    margin: 0 20px;
    padding: 10px 15px;
    text-align: initial !important;
    color: var(--color_4);
}

.nav-wrapper {
    text-align: center;
}

@media (min-width: 768px) {
    .nav-wrapper {
        flex-grow: 1;
    }
}

.nav-wrapper a {
    font-size: 14px;
    line-height: 20px;
    display: none;
    width: auto;
    padding: 0 15px;
    text-align: initial;
    border: 0;
}

.nav-wrapper .user-nav a {
    font-family: var(--font_1);
    flex-shrink: 1;
    white-space: normal;
}

.user-nav:not([aria-expanded='true']) > a {
    letter-spacing: -.7px;
    text-transform: uppercase;
    color: var(--color_4);
}

@media (min-width: 768px) {
    .nav-wrapper .user-nav a {
        font-size: 16px;
        display: inline-block;
    }
}

@media (min-width: 900px) {
    .nav-wrapper .user-nav a {
        font-size: 22px;
    }
}

@media (min-width: 1260px) {
    .nav-wrapper .user-nav a {
        font-size: 30px;
        line-height: 1;
    }
}

.user-nav:not([aria-expanded='true']) > a:hover,
.user-nav:not([aria-expanded='true']) > a:focus,
.user-nav:not([aria-expanded='true']) > a:active {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
}

.nav-wrapper a.start-copying {
    color: var(--color_2);
}

.nav-wrapper .icon-menu {
    display: inline-block;
    margin-right: 10px;
    color: rgba(255, 255, 255, .5);
}

@media (min-width: 768px) {
    .nav-wrapper .icon-menu {
        display: none;
    }
}

[dir='rtl'] .nav-wrapper .icon-menu {
    margin-right: 0;
    margin-left: 10px;
}

/***** User info in header *****/
.user-info {
    display: inline-block;
    margin: 0 15px;
}

.user-info .dropdown-toggle::after {
    display: none;
}

@media (min-width: 768px) {
    .user-info .dropdown-toggle::after {
        display: inline-block;
    }
}

.user-info > [role='button'] {
    font-family: var(--font_1);
    min-width: 0;
    padding: 0;
    white-space: nowrap;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .5);
    border: 0;
}

.user-info > [role='button']:hover {
    color: #fff;
    background-color: transparent;
}

.user-info > [role='button']::after {
    padding-right: 15px;
    color: rgba(255, 255, 255, .5);
}

[dir='rtl'] .user-info > [role='button']::after {
    padding-right: 0;
    padding-left: 15px;
}

#user #user-dropdown {
    background: #223145;
}

#user #user-name {
    display: none;
}

/***** User avatar *****/
.user-avatar {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border-radius: 50%;
}

.avatar {
    position: relative;
    display: inline-block;
}

.avatar img {
    width: 40px;
    height: 40px;
}

.avatar .icon-agent::before {
    font-size: 14px;
    line-height: 14px;
    position: absolute;
    right: -2px;
    bottom: -4px;
    width: 14px;
    height: 14px;
    content: '\1F464';
    text-align: center;
    color: var(--color_2);
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: var(--color_1);
}

.header__lang {
    font-weight: 300;
    display: inline-block;
    color: var(--color_3), 20%;
}

.lang.dropdown .dropdown-toggle {
    font-family: var(--font_1);
    font-size: 16px;
    padding-right: 10px;
    padding-left: 10px;
    white-space: nowrap;
    color: #d4dde7;
}

.lang.dropdown .dropdown-toggle::after {
    content: none;
}

.lang.dropdown .dropdown-menu {
    font-size: 0;
    min-width: auto;
    background: #223145;
}

.lang.dropdown .dropdown-menu [role='menuitem'] {
    padding-right: 10px;
    padding-left: 10px;
    color: #d4dde7;
}

.lang.dropdown .dropdown-menu [role='menuitem']:hover {
    text-decoration: none;
    color: #d4dde7;
    background: none;
}

.lang.dropdown .dropdown-menu [role='menuitem'][aria-selected='true'] {
    cursor: default;
    background: none;
}

.lang__flag {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border-radius: 50%;
}

.lang__flag_en {
    background-image: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAATlBMVEUAAAAAUrQAUrTE0+Xw8PAAUrQAUrQAUrTw8PDc4+vOV3bYACfeN1XYACcAUrS0yeHw8PAtcL/v4ePh5uzSUG/dLU3hWnLS3OnqtL7///9TTWvPAAAADXRSTlMAEHCv3yCfgBC/vxDP2DPVuwAAAAFiS0dEGexutYgAAAAHdElNRQfiAg0SKCf4B/dLAAAA7ElEQVQoz7XT2RKDIAwFUHChauWKoJX//9KKSZC20+WleYPDTAgJSknoqm7sHk1dafUcrQEml9hNgGkf9QKUDFwK7Pr5mefhKnodfZgfeV7s2DEPdj385F1X33PeY7F7Zt448reQpbAcR7q/oVQ3FzbiTRRmfw1A3BFHUUCrCoUTZ0Wl6olii9ETe+823qxV44o4uIhG2Y/xX/5ytVxYKogKi/EsTJ4l+DUyr3bJz6KzWubCNbck6SItCeKGG0obuaHiLY0DL89xoA0ex54PF8OUfJBBHSlVOYrBj+eoDq+D3He/foOvn+jdF7wDJkUp6l5aYnQAAAAASUVORK5CYII=);
}

.lang__flag_ru {
    background-image: url(data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAATlBMVEUAAADw8PDw8PDw8PDw8PDw8PDw8PDw8PDw8PB4odIAUrQAUrQAUrTYACfYACfYACfYACfYACfYACfYACfYACfw8PC0yeEAUrTYACf///9MM0iVAAAAFXRSTlMAIHCv75+AEM8gcK/vIJ+AzxBwr+/uhVf3AAAAAWJLR0QZ7G61iAAAAAd0SU1FB+ICDRIrO8cr+McAAACWSURBVCjPtdPJEoMgEEXRh4pzAw7E/P+XBitJCQjNyrs9Wg0KwD9R1Y11NXUlECek9ZLRA62Naj3senur7zj1PKnOM3OD+cJmO9cv8yyB4cU0YDyYRkwcT5g5nnGwPcuFpRU2Vvgs9GYiQOVVuT9G7MuAzqn+HheTVvM7a0vSzQLGL03N1+E1oWB/im63jNZtP2nf1gs/H8s/ifER6rQAAAAASUVORK5CYII=);
}

.lang__name {
    font-family: var(--font_3);
    font-size: 16px;
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}
