.hero {
    width: 100%;
    height: 336px;
    padding: 0 20px;
    background-image: var(--homepage_background_image), linear-gradient(to right, rgb(36, 57, 86) 50%, rgb(187, 203, 22) 50%);
    background-repeat: no-repeat;
    background-position: 72% 50%;
}

@media (min-width: 768px) {
    .hero {
        background-position: 100% 50%;
    }
}

.hero-inner {
    max-width: 1160px;
    margin: 0 auto;
    padding: 65px 5% 0;
}

@media (min-width: 1160px) {
    .hero-inner {
        width: 90%;
        padding-right: 0;
        padding-left: 0;
    }
}

.hero-title {
    font-family: var(--font_1);
    font-size: 48px;
    line-height: 50px;
    margin: 13px 0;
    color: #fff;
}
