.meta-group {
    display: block;
}

.meta-group * {
    display: inline;
}

.meta-data {
    font-size: 13px;
    font-weight: 300;
    color: var(--color_3), 20%;
}

.meta-data:not(:last-child)::after {
    margin: 0 5px;
    content: '\00B7';
}
