.recent-activity-header {
    margin-bottom: 10px;
    text-align: center;
}

.recent-activity-list {
    padding: 0;
}

.recent-activity-item {
    overflow: auto;
    padding: 20px 0;
    border-bottom: 1px solid #2e415d;
}

.recent-activity-item-parent,
.recent-activity-item-link {
    font-size: 16px;
    display: inline-block;
    width: 100%;
    margin: 10px 0;
}

.recent-activity-item-parent {
    color: #fff;
}

.recent-activity-item-link {
    color: #7d90a9;
}

@media (min-width: 768px) {
    .recent-activity-item-parent,
    .recent-activity-item-link {
        width: 70%;
        margin: 0;
    }
}

.recent-activity-item-parent:hover {
    color: var(--color_2);
}

.recent-activity-item-link:hover {
    color: #fff;
}
.recent-activity-item-meta {
    float: none;
    margin: 15px 0 0 0;
}

@media (min-width: 768px) {
    .recent-activity-item-meta {
        float: right;
        margin: 0;
    }

    [dir='rtl'] .recent-activity-item-meta {
        float: left;
    }
}

.recent-activity-item-time,
.recent-activity-item-comment {
    font-size: 13px;
    font-weight: 300;
    display: inline-block;
    color: #7d90a9;
}

.recent-activity-item-comment {
    padding-left: 5px;
}

[dir='rtl'] .recent-activity-item-comment {
    padding: 0 5px 0 0;
}

.recent-activity-item-comment::before {
    display: inline-block;
}

.recent-activity-item-comment span::before {
    font-size: 15px;
    display: inline-block;
    padding-right: 3px;
    content: '\1F4AC';
    vertical-align: middle;
}

[dir='rtl'] .recent-activity-item-comment span::before {
    padding-left: 3px;
}

.recent-activity-controls {
    padding-top: 15px;
}
