.request-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 1024px) {
    .request-container {
        align-items: flex-start;
        flex-direction: row;
    }
}

.request-container .comment-container {
    min-width: 0;
}

.request-breadcrumbs {
    margin-bottom: 40px;
}

@media (min-width: 1024px) {
    .request-breadcrumbs {
        margin-bottom: 60px;
    }
}

.request-main {
    flex: 1 0 auto;
    order: 1;
}

.request-main .comment-fields, .request-main .request-submit-comment {
    display: none;
}

.request-main .comment-fields.shown {
    display: block;
}

.request-main .request-submit-comment.shown {
    display: inline;
}

@media (min-width: 1024px) {
    .request-main {
        flex: 0 0 66%;
        order: 0;
        min-width: 0;
    }
}

.request-main .comment-form-controls {
    display: block;
}

.request-main .comment-ccs {
    display: block;
}

.request-main .comment-show-container {
    border-radius: 2px;
    border: 1px solid var(--color_5);
    cursor: pointer;
    display: flex;
    padding: 8px 15px;
    width: 100%;
}

.request-main .comment-show-container.hidden {
    display: none;
}

.request-main .comment-show-container-content {
    align-self: center;
    color: var(--color_3), 20%;
    margin-left: 10px;
}

.request-main .form-field.comment-ccs > ul {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

.request-main .form-field.comment-ccs > ul[data-hc-focus="true"] {
    border: 1px solid var(--color_1);
}

.request-main .form-field.comment-ccs > input[type="text"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

.request-main .comment-ccs + textarea {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
}

.request-main .comment-ccs + textarea:focus {
    border-top: 1px solid var(--color_1);
}

.request-main input#mark_as_solved {
    display: none;
}

.request-title {
    width: 100%;
}

@media (min-width: 1024px) {
    .request-title {
        border-bottom: 1px solid var(--color_5);
        margin-bottom: 0;
        max-width: 66%;
        padding-bottom: 20px;
    }
}

.request-sidebar {
    border-bottom: 1px solid var(--color_5);
    border-top: 1px solid var(--color_5);
    flex: 1 0 auto;
    order: 0;
}

@media (min-width: 1024px) {
    .request-sidebar {
        background-color: var(--color_5), 3%;
        border: 0;
        font-size: 13px;
        flex: 0 0 auto;
        padding: 0 20px;
        width: 30%;
    }
}

.request-sidebar h5 {
    font-size: 15px;
    font-weight: 600;
    position: relative;
}

@media (min-width: 1024px) {
    .request-sidebar h5 {
        display: none;
    }
}

.request-details {
    border-bottom: 1px solid var(--color_5);
    font-size: 0;
    margin: 0;
    padding-bottom: 20px;
}

.request-details:last-child {
    border: 0;
}

.request-details dt, .request-details dd {
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    margin: 20px 0 0 0;
}

.request-details dd {
    padding: 0 10px;
    width: 60%;
}

.request-details dd::after {
    content: "\A";
    white-space: pre;
}

.request-details dt {
    color: var(--color_3), 20%;
    font-weight: 300;
    width: 40%;
}

.request-details .request-collaborators {
    display: inline-block;
}

.request-attachments dt, .request-attachments dd {
    width: 100%;
}

.request-attachments dd {
    margin: 10px 0 0 0;
}

.request-form textarea {
    min-height: 120px;
}

.request-follow-up {
    padding-top: 20px;
}