.share {
    padding: 0;
    white-space: nowrap;
}

.share li,
.share a {
    display: inline-block;
}

.share a {
    line-height: 25px;
    overflow: hidden;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.share a::before {
    font-size: 23px;
    display: block;
    width: 100%;
    text-align: center;
    color: var(--color_3), 20%;
}

.share a:hover {
    text-decoration: none;
}

.share a:hover::before {
    color: var(--color_1);
}

.share-twitter::before {
    content: '\e901';
}

.share-facebook::before {
    content: '\e903';
}

.share-linkedin::before {
    content: '\e900';
}

.share-googleplus::before {
    content: '\e902';
}
