.striped-list {
    padding: 0;
}

.striped-list-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px 0;
    border-bottom: 1px solid var(--color_5);
}

@media (min-width: 768px) {
    .striped-list-item {
        align-items: center;
        flex-direction: row;
    }
}

.striped-list-info {
    flex: 2;
}

.striped-list-title {
    margin-right: 5px;
    margin-bottom: 10px;
    color: var(--color_4);
}

.striped-list-title:hover,
.striped-list-title:focus,
.striped-list-title:active {
    text-decoration: underline;
}

.striped-list-title:visited {
    color: var(--color_4), 20%;
}

.striped-list .meta-group {
    margin: 5px 0;
}

.striped-list-count {
    font-size: 13px;
    font-weight: 300;
    justify-content: flex-start;
    text-transform: capitalize;
    color: var(--color_3), 20%;
}

@media (min-width: 768px) {
    .striped-list-count {
        display: flex;
        flex: 1;
        justify-content: space-around;
    }
}

.striped-list-count-item::after {
    display: inline-block;
    padding: 0 5px;
    content: '·';
}

@media (min-width: 768px) {
    .striped-list-count-item::after {
        display: none;
    }
}

.striped-list-count-item:last-child::after {
    display: none;
}

.striped-list-number {
    font-weight: 300;
    text-align: center;
}

@media (min-width: 768px) {
    .striped-list-number {
        font-weight: 400;
        display: block;
        color: var(--color_3);
    }
}
