.subscriptions-unsubscribe a {
    font-size: 12px;
    line-height: 2.34;
    display: inline-block;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: var(--color_2);
    border-radius: 4px;
    background: var(--color_1);
}

@media (min-width: 768px) {
    .subscriptions-unsubscribe a {
        width: auto;
    }
}

.subscriptions-unsubscribe a:hover {
    text-decoration: none;
    background-color: var(--color_1), 20%;
}

.subscriptions-table td:last-child {
    display: block;
}

@media (min-width: 768px) {
    .subscriptions-table td:last-child {
        display: table-cell;
    }
}

.subscriptions-table td:first-child {
    display: flex;
    align-items: center;
}

.subscriptions-table .user-avatar {
    margin-right: 10px;
}

.subscriptions .striped-list-title {
    display: inline-block;
    vertical-align: middle;
}
