<footer class="footer">
    <div class="footer-inner">
        {{!-- <div class="help-center__link">{{ #link 'help_center'}}{{ help_center.name }}{{ /link }}</div> --}}
        {{ dc 'copybet_logo' }}
        <div class="footer__social">
            {{ dc 'site-nav' }}
            {{ dc 'socials' }}
        </div>
        {{ dc 'footer' }}
    </div>
</footer>



<div class="footer__col">
    <div class="footer__links">
        <a href="https://www.copybet.com/terms-of-use/">Terms of Use</a>
        <a href="https://www.copybet.com/privacy-policy/">Privacy policy</a>
    </div>
    <div class="footer__contacts">Company reg. no.: 162,756. <i class="footer__email" role="img"></i></div>
</div>
<div class="footer__col">
    <div class="footer__regulation">
        <p class="lead">CopyBet Ltd is regulated and holds Sub-License
            <span style="white-space: nowrap">No. GLH-OCCHKTW0712232016</span>
            under Curacao Master License
            <span style="white-space: nowrap">No. 365/JAZ</span>
            .
        </p>
        <p>Working with the copy betting platform involves significant risks as there is always a possibility of losing money. Results of your work may differ from the provided examples, the experience you have, and theoretical calculations, while the previous results can’t guarantee the same in the future. Once the risk factor when copying bets is considered as high, you should take into account all actual risks while working with such platform. You should assess all risks that are involved in operation of the copy betting platform in accordance with your purposes and financial possibilities, and only then start working. If you don’t have additional funds that you can afford to lose, you shouldn’t start working with the platform.</p>
        <p>Any operations involving the copying of bets or specific strategies imply actual risks of losing of money. There is no absolutely safe strategy, which excludes risks of accidental losses, as well as no one can guarantee the profit or the total absence of loss. You shouldn’t invest or risk the money that you aren’t ready to lose.</p>
        <p>Operation of the copy betting platform involves risks of using computer technologies and data flow systems. When you start working with the platform, you should realize that such risks as hardware and software failures and inaccurate external data flows provided by third party service providers, may seriously affect your activities. Neither the Company in general nor any of the Company’s employees bear any responsibility for any bugs or failures when there is no proof of willful unlawful acts. The Company is in no way liable for mechanical or any other damage to communication lines, system or database errors, as well as any other failures, which are not caused by the Company’s activity.</p>
    </div>
    <div class="copyright">
        ©&nbsp;CopyBet, 2016 - 2018. All rights reserved.
    </div>
    <span class="footer__category">18+</span>
</div>

<div class="footer__col">
    <div class="footer__links">
        <a href="https://www.copybet.com/ru/terms-of-use/">Terms of Use</a>
        <a href="https://www.copybet.com/ru/privacy-policy/">Privacy policy</a>
    </div>
    <div class="footer__contacts">Регистрационный номер компании : 162,756. <i class="footer__email" role="img"></i></div>
</div>
<div class="footer__col">
    <div class="footer__regulation">
        <p class="lead">CopyBet Ltd регулируется и имеет суб-лицензию
            <span style="white-space: nowrap">No. GLH-OCCHKTW0712232016</span>
            под Curacao Master License
            <span style="white-space: nowrap">No. 365/JAZ</span>
            .
        </p>
        <p>Работа с платформой по копированию ставок связана с существенным риском, и всегда существует вероятность потери средств. Результаты Вашей работы могут отличаться от представленных примеров, имеющегося опыта и теоретического расчета, а прошлые показатели не гарантируют результата в будущем. Поскольку фактор риска оценивается как высокий при копировании ставок, в работе с такой платформой должны учитываться все реальные риски. Необходимо оценить риски, возникающие при работе с платформой копирования сигналов в соответствии с собственными целями и финансовыми возможностями, и начинать работу только после этого. Если у Вас нет дополнительного капитала, который Вы можете позволить себе потерять, Вам не стоит начинать работу с платформой.</p>
        <p>Любые операции по копированию ставок и конкретных стратегий подразумевают реальный риск потери денежных средств. Не существует абсолютно безопасной стратегии или системы копирования, исключающих риски случайных потерь, и никто не может гарантировать прибыль или полноценное отсутствие убытка. Вы не должны инвестировать или рисковать деньгами, которые не готовы потерять.</p>
        <p>Работа платформы по копированию ставок связана с рисками использования компьютерной техники и систем потока данных. Начиная работу с платформой, необходимо осознавать, что наличие рисков, включая неполадки с оборудованием, программным обеспечением, возникновением потоков неточных внешних данных, представляемых сторонними поставщиками услуг, могут отражаться на эффективности Вашей работы. Компания в целом и никто из сотрудников Компании не несет ответственности на любой сбой или неполадку в отсутствие факта преднамеренных противоправных действий. Компания не несет ответственности за механическое или иное повреждение линий связи, системные ошибки или ошибки баз данных, а также иные неполадки, не связанные с деятельностью Компании.
        </p>
    </div>
    <div class="copyright">
        ©&nbsp;CopyBet, 2016 - 2018. Все права защищены.
    </div>
    <span class="footer__category">18+</span>
</div>




<div class="social">
    <a href="https://twitter.com/copy_bet" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/CopyBet-377092302672548/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="https://plus.google.com/u/1/communities/112452189026177981155" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/copybet/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="https://vk.com/copybetcom" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
    <a href="https://www.youtube.com/channel/UCcHV_clRNDefYymOdvbYvYg" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
</div>