<div class="top">
    <header class="header">
        <div class="logo">
            {{#link 'help_center'}}
            <img src="{{logo_url}}" alt="{{t 'logo'}}">
            {{/link}}
        </div>
        <div class="nav-wrapper">
            <span class="icon-menu"></span>
            <nav class="user-nav" id="user-nav">
                {{!--{{link 'community'}}--}}
                {{link 'new_request' class='submit-a-request' role='button'}}
                {{ dc 'link_to_copybet' }}
            </nav>
            {{user_info}}
        </div>
        <div class="header__lang">
            {{#if alternative_locales}}
            <div class="dropdown lang" aria-haspopup="true">
                <a class="dropdown-toggle lang__current">
                    {{#is current_locale.name 'English (US)'}}
                    <i class="lang__flag lang__flag_en" role="img"></i>
                    <span class="lang__name">EN</span>
                    {{/is}}
                    {{#is current_locale.name 'Русский'}}
                    <i class="lang__flag lang__flag_ru" role="img"></i>
                    <span class="lang__name">RU</span>
                    {{/is}}
                </a>
                <span class="dropdown-menu dropdown-menu-end" role="menu">
                    {{#each alternative_locales}}
                    <a href="{{url}}" dir="{{ direction }}" rel="nofollow" role="menuitem">
                        {{#is name 'English (US)'}}
                        <i class="lang__flag lang__flag_en" role="img"></i>
                        <span class="lang__name">EN</span>
                        {{/is}}
                        {{#is name 'Русский'}}
                        <i class="lang__flag lang__flag_ru" role="img"></i>
                        <span class="lang__name">RU</span>
                        {{/is}}
                    </a>
                    {{ /each }}
                </span>
            </div>
            {{ /if }}
        </div>
    </header>
</div>